@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --color-brand: #4fb7a0;
}

:root {
  --background: #050505;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: #050505;
  min-height: 100vh;
  font-family: var(--font-outfit);
  overflow-x: hidden;
}

.mesh-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #050505;
  background-image: 
    radial-gradient(at 0% 0%, hsla(166,41%,10%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(166,41%,20%,0.2) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(166,41%,20%,0.2) 0, transparent 50%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-outfit);
}
